<Message::Avatar
  @title="{{@username}}'s avatar"
  {{! This won't work yet! We need to update the substring helper }}
  @initial={{substring @username start=0 length=1}}
  @isActive={{@userIsActive}}
  class="{{if @isCurrentUser "current-user"}}"
/>
<section>
  <Message::Username
    @name={{@username}}
    @localTime={{@userLocalTime}}
  />

  {{yield}}
</section>